@import 'src/styles';

.animation-link-wrapper {
  @include set-bg-color();

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 16px;

  cursor: pointer;

  color: $white-color;

  outline: none;
  border: none;
  border-radius: 56px;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
}
