<form class="form" [formGroup]="form" (ngSubmit)="login()">
  <mat-form-field color="primary" floatLabel="always">
    <mat-label>Email</mat-label>
    <input matInput type="email" placeholder="test@note.com" formControlName="email" />
  </mat-form-field>
  <password-field [formGroup]="form"></password-field>
  <div class="additional-actions">
    <mat-checkbox color="primary" formControlName="rememberMe">Remember me</mat-checkbox>
    <mat-chip color="warn" class="forgot-password" selected>Forgot Password?</mat-chip>
  </div>
  <footer class="actions">
    <submit-button
      [disabled]="!isValidForm || isSaving"
      (submit)="login()"
    ></submit-button>
  </footer>
</form>
