@import "src/styles";

.additional-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;

  .forgot-password {
    font-size: 12px;
  }
}

.actions {
  submit-button {
    flex: 1 1 100%;
  }
}
