@import 'src/styles';

.uploader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.upload-image {
  $size: 148px;
  position: relative;

  img {
    width: $size;
    height: $size;
    border-radius: $size;
  }


  &-placeholder {
    overflow: hidden;
  }
}

.upload-small-btn {
  background-color: $primary;
  position: absolute;
  bottom: .5rem;
  right: .5rem;
}
