@import 'varaibles';

@mixin set-color() {
  @each $colorName, $colorValue in $colors {
    &.#{$colorName} {
      color: $colorValue;
    }
  }
}

@mixin set-bg-color() {
  @each $colorName, $colorValue in $colors {
    &.#{$colorName} {
      background-color: $colorValue;
    }
  }
}

@mixin set-bg-opacity-color($opacity) {
  @each $colorName, $colorValue in $colors {
    &.#{$colorName} {
      background-color: rgba($colorValue, $opacity);
      color: $colorValue;
    }
  }
}
