@import "varaibles";

.entity-with-icon {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;
  cursor: pointer;

  &.with-hover {
    opacity: .7;
    transition: $transition;

    &:hover {
      opacity: 1;
    }
  }

  * {
    white-space: nowrap;
    font-weight: 400;
    font-size: 20px;
  }

  &.sm {
    gap: 10px;

    * {
      font-size: 14px;
    }
  }
}

.custom-icon {

  svg {
    min-width: 24px;
    min-height: 24px;
  }

  path {
    width: 100%;
    height: 100%;
  }
}

::ng-deep {
  .mat-icon {
    max-width: 32px;
    max-height: 32px;
    width: max-content;
    height: max-content;
  }
}
