@import "varaibles";

.snack-bar-wrapper {
  &.mat-snack-bar-container {
    padding: 1rem;
    border-radius: 10px;
    color: $white-color;

    &.success {
      background-color: $primary;
    }

    &.wrong {
      background-color: $accent;
    }

    &.danger {
      background-color: $warn;
    }
  }
}
