@import "varaibles";
@import "color";

.hide {
  opacity: 0;
  transition: .4s ease-in-out;
}

.tile {
  border-radius: 10px;
  padding: 1rem;
  box-shadow: $primary-shadow;
  box-sizing: border-box;

  @include set-bg-color();
}

.link {
  color: $white-color;
  text-decoration: none;
  cursor: pointer;
}

.avatar {
  max-width: 48px;
  max-height: 48px;
  width: 100%;
  height: 100%;

  background: $accent;
  color: $white-color;

  padding: 1rem;
  box-sizing: border-box;
  border-radius: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;
  font-weight: 600;
}

.layout-view {
  flex: 1 1 100%;
  height: 100%;

  padding: 1rem 0 0;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 20px;

  &-row {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
  }

  &-content {
    flex: 1 1 100%;
    height: auto;
    background-color: $white-color;
  }

  &-sidebar {
    position: relative;
  }
}

.no-data {
  color: $grey-color;
  cursor: pointer;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

pre {
  white-space: pre-wrap;
}

.max-content {
  width: max-content;
}

.min-page-height {
  min-height: 440px;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 1rem;
}

.reset-padding {
  padding: 0;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  justify-content: flex-start;
}

.no-wrap {
  display: flex;
  flex-wrap: nowrap;
}

.relative {
  position: relative;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.m-auto {
  margin: 0 auto;
}
