<stepper #stepper>
  <ng-container steps>
    <step>
      <form class="form" [formGroup]="personalInformationForm">
        <mat-form-field color="primary">
          <mat-label>Firs Name</mat-label>
          <input matInput type="text" formControlName="firstName" />
        </mat-form-field>
        <mat-form-field color="primary">
          <mat-label>Last Name</mat-label>
          <input matInput type="text" formControlName="lastName" />
        </mat-form-field>
        <mat-form-field color="primary">
          <mat-label>Choose a Date of Birth Day</mat-label>
          <input matInput [matDatepicker]="picker" class="datepicker-field" formControlName="dateOfBirthDay" [disabled]="true">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker [disabled]="false"></mat-datepicker>
        </mat-form-field>
      </form>
    </step>
    <step [isValid]="personalInformationForm.valid">
      <form class="form" [formGroup]="additionalInformationForm">
        <mat-form-field color="primary">
          <mat-label>Email</mat-label>
          <input matInput type="email" placeholder="test@note.com" formControlName="email" />
        </mat-form-field>
        <password-field
          [formGroup]="additionalInformationForm"
          [withStrengthChecking]="true"
        ></password-field>
        <password-field
          [formGroup]="additionalInformationForm"
          passwordAlias="repeatPassword"
          label="Repeat Password"
        ></password-field>
      </form>
    </step>
    <step [isValid]="additionalInformationForm.valid">
      <image-uploader
        (upload)="uploadFile($event)"
      ></image-uploader>
    </step>
  </ng-container>
  <ng-container actions>
    <div class="actions">
      <button
        mat-icon-button
        [class.hide]="stepper.isFirstSelectedStep"
        [disabled]="stepper.isFirstSelectedStep"
        (click)="stepper.prev()"
        color="warn"
      >
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <button
        mat-icon-button
        [class.hide]="stepper.isLastSelectedStep || showSubmitButton"
        [disabled]="stepper?.isLastSelectedStep || !stepper.canBeStepperIndexChanged || showSubmitButton"
        (click)="stepper.next()"
        color="warn"
      >
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
      <submit-button
        *ngIf="showSubmitButton"
        (submitEvent)="submit()"
      ></submit-button>
    </div>
  </ng-container>
</stepper>
