<section
  class="entity-with-icon"
  [class.with-hover]="withHover"
  [class.sm]="withSmSize"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
>
  <animate-icon
    [iconName]="iconName"
    [options]="options"
    [color]="color"
    [width]="width"
    [height]="height"
    [isActive]="isActive"
    [disabled]="disabled"
    [withStroke]="withStroke"
    (animateWasCreated)="animateWasCreated.emit($event)"
    (domLoaded)="domLoaded.emit($event)"
  ></animate-icon>
  <span class="content">
    <ng-content></ng-content>
  </span>
</section>
