<header *ngIf="showDots">
  <div class="dots">
    <span
      *ngFor="let step of stepsAsArray; let idx = index"
      (click)="changeStep(idx)"
      [class.active]="idx <= selectedStep"
      [class.disabled]="!stepsAsArray[idx].isValid"
      class="dot"
    ></span>
  </div>
</header>
<main class="slider" #slider>
  <div class="slider-wrapper" [style.left]="leftPosition">
    <ng-content select="[steps]"></ng-content>
  </div>
</main>
<footer>
  <ng-content select="[actions]"></ng-content>
</footer>
