@import "src/styles";

header {
  padding: 1rem .5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: $primary;
  color: $white-color;
}

.home-page {
  padding: 2rem 1rem;
}
